
body {
<<<<<<< HEAD
  background: #3895a8;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100%;
}

.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Enter YOUR lab styles after this line */
=======
 font: normal 18px/1.5 'Noticia Text', cursive;
 background-color: blue;
 padding: 50px 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}


>>>>>>> 010f2a70665ed43531a664b33587c2e19654936e
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
<<<<<<< HEAD
  flex: 1 0 125px;
  max-width: 225px;
  padding: 8px;
=======
  flex: 1 0 120px;
  max-width: 220px;
>>>>>>> 010f2a70665ed43531a664b33587c2e19654936e
}
 
.flex-outer > li > label + *,
.flex-inner {
<<<<<<< HEAD
  flex: 1 0 225px;
}

.flex-outer button {
  margin-left: 0px;
  padding: 6px 12px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-radius: 3px;
}

.flex-inner li {
  width: 80px;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer {
  max-width:800px;
  padding: 0 16px;
}
=======
  flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
  }
  
.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  .flex-inner li {
    width: 100px;
  }

  .flex-inner {
    justify-content: space-between;
  }

body {
    font: normal 18px/1.5 'Noticia Text', cursive;
    background-color: blue;
    padding: 50px 0;
   }
   
   .container {
       width: 80%;
       max-width: 1200px;
       margin: 0 auto;
   }
   
   .container * {
       box-sizing: border-box;
   }
   
   .flex-outer,
   .flex-inner {
     list-style-type: none;
     padding: 0;
   }
   
   .flex-outer {
     max-width: 800px;
     margin: 0 auto;
   }
   
   
   .flex-outer li,
   .flex-inner {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
   }
   
   .flex-outer > li > label,
   .flex-outer li p {
     flex: 1 0 120px;
     max-width: 220px;
   }
    
   .flex-outer > li > label + *,
   .flex-inner {
     flex: 1 0 220px;
   }
   
   .flex-outer li p {
       margin: 0;
     }
     
   .flex-outer li button {
       margin-left: auto;
       padding: 8px 16px;
       border: none;
       background: #333;
       color: #f2f2f2;
       text-transform: uppercase;
       letter-spacing: .09em;
       border-radius: 2px;
     }
   
     .flex-inner li {
       width: 100px;
     }
   
     .flex-inner {
       justify-content: space-between;
     }
   
>>>>>>> 010f2a70665ed43531a664b33587c2e19654936e
